<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
<footer th:fragment="footer">
    <div class="copyright"><p>&#169; bezgerts.me 2018</p></div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" th:src="@{~/webjars/jquery/3.3.0/jquery.min.js}"></script>

    <!-- Datatables Pagination -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" type="text/javascript" charset="UTF-8"></script>

</footer>
</body>
</html>