<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="header-css">
        <link type="text/css" href="/css/style.css" rel="stylesheet"/>
    </div>

    <div th:fragment="header-meta">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </div>
</head>
<body>

    <header th:fragment="header">
        <div th:fragment="header" class="topnav" id="myTopnav">
            <a href="#home" class="active">Главная</a>
            <a href="About">О приложении</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </header>

        <aside class="left-menu" th:fragment="left-menu">
            <h1>Левое меню</h1>
            <ul>
                <li><a href="#">Английский словарь</a></li>
                <li><a href="#">Французский словарь</a></li>
                <li><a href="#">Немецкий словарь</a></li>
            </ul>
        </aside>

</body>
</html>