<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-meta"/>
    <title>Доступ запрещен</title>
</head>
<body>
<div class="wrapper">
    <header th:replace="fragments/header :: header"></header>

    <div class="page-content">

        <div th:replace="fragments/header :: left-menu" />

        <div class="content">
            <h1>Доступ запрещен</h1>
            <p>Доступ к приложению запрещен. Обратитесь к системному администратору.</p>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer" />
</div>
</body>
</html>