<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-meta"/>
    <title>Добавление слова</title>
</head>
<body>
<div class="wrapper">
    <header th:replace="fragments/header :: header"></header>

    <div class="page-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <h1 class="h3 font-weight-normal">Добавление слова</h1>
                    <form role="form" th:object="${word}" th:action="@{/words}" method="post">
                        <input type="hidden" class="form-control" th:field="*{id}" />
                        <div class="form-group">
                            <label for="text">Введите слово на английском:</label>
                            <input type="text" class="form-control" name="text" id="text" th:field="*{text}" placeholder="Слово на английском" />
                        </div>
                        <div class="form-group">
                            <label for="translation">Введите перевод слова:</label>
                            <input type="text" class="form-control" name="translation" id="translation" th:field="*{translation}" placeholder="Перевод слова" />
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a class="btn btn-link" href="/words" th:href="@{/words}" role="button">Назад</a>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <footer th:replace="fragments/footer :: footer" />
</div>
</body>
</html>