<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Английский частотный словарь</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="/css/style.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/script.js"></script>

</head>
<body>
    <header>
        <div class="topnav" id="myTopnav">
            <a href="#home" class="active">Главная</a>
            <a href="#news">Новости</a>
            <a href="#contact">Контакты</a>
            <a href="About">О приложении</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
    </header>
    <h1>Наташа, я тебя очень сильно люблю!!!</h1>
</body>
</html>