<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-meta"/>
    <title>Английский частотный словарь</title>


</head>
<body>
<div class="wrapper">
    <header th:replace="fragments/header :: header"></header>

    <div class="page-content">

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer" />
</div>
</body>
</html>