<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-meta"/>
    <title>Английский частотный словарь</title>


</head>
<body>
<div class="wrapper">
    <header th:replace="fragments/header :: header"></header>

    <div class="page-content">

       <div th:replace="fragments/header :: left-menu" />

        <div class="content">
            <h1>Частотный словарь английских слов</h1>
            <div id="table_wrapper">
                <table>
                    <tr>
                        <th>Слово на английском</th>
                        <th>Слово на русском</th>
                        <th>Кнопки</th>
                    </tr>
                    <tr>
                        <td>Bird</td>
                        <td>Птица</td>
                        <td><input type="button" title="Кнопка" value="Кнопка" /></td>
                    </tr>
                    <tr>
                        <td>Bird</td>
                        <td>Птица</td>
                        <td><input type="button" title="Кнопка" value="Кнопка" /></td>
                    </tr>
                    <tr>
                        <td>Bird</td>
                        <td>Птица</td>
                        <td><input type="button" title="Кнопка" value="Кнопка" /></td>
                    </tr>
                    <tr>
                        <td>Bird</td>
                        <td>Птица</td>
                        <td><input type="button" title="Кнопка" value="Кнопка" /></td>
                    </tr>
                    <tr>
                        <td>Bird</td>
                        <td>Птица</td>
                        <td><input type="button" title="Кнопка" value="Кнопка" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer" />
</div>
</body>
</html>