<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-meta"/>
    <title>Логин</title>
</head>
<body>
<div class="wrapper">
    <header th:replace="fragments/header :: header"></header>

    <div class="page-content">

        <div th:replace="fragments/header :: left-menu" />
        <form th:action="@{/login}" method="post">
            <fieldset>
                <div class="content">
                    <h1>Войдите в свою учетную запись</h1>
                    <div th:if="${param.error}">
                       Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                            You have been logged out.
                    </div>
                    <input type="text" name="username" id="username"
                           placeholder="UserName" required="true" autofocus="true"/>
                    <input type="password" name="password" id="password"
                           placeholder="Password" required="true"/>
                    <input type="submit" value="Sign In"/>
                </div>
            </fieldset>
        </form>
    </div>

    <footer th:replace="fragments/footer :: footer" />
</div>
</body>
</html>