<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-meta"/>
    <title>Чистая страница</title>
</head>
<body>
<div class="wrapper">
    <header th:replace="fragments/header :: header"></header>

    <div class="page-content">


        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <h1 class="h3 font-weight-normal">Загрузить файл</h1>
                    <form method="POST" action="/upload" enctype="multipart/form-data">
                        <div th:if="${message}">
                            <h1 class="h4 font-weight-normal" th:text="${message}"/>
                        </div>
                        <label for="file">Выбор файла: </label>
                        <input type="file" class="form-control-file" id="file" name="file" />
                        <button type="submit" class="btn btn-primary">Загрузить</button>
                        <a class="btn btn-link" href="/words" th:href="@{/words}" role="button">Назад</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer" />
</div>
</body>
</html>